@* Author: Jakob *@
@inject IResidenceService ResidenceService

@foreach (var Resi in DisplayResidences)
{
	<ul>
		<li>
			@Resi.MainPicture @Resi.Address @Resi.ResidenceRegion.County @Resi.ResidenceRegion.Township @Resi.ResidenceCategory.CategoryName @Resi.StartingPrice
			<button>Visa</button>
		</li>
	</ul>
}


@code {
	[Parameter]
	public IEnumerable<ResidenceDto> DisplayResidences { get; set; } = new List<ResidenceDto>();

	public IEnumerable<ResidenceDto> Residences { get; set; } = new List<ResidenceDto>(); /* TestData tills filtercomponenten är klar , byt namn på listan i foreach loopen*/

	protected override async Task OnInitializedAsync()
	{
		DisplayResidences = await ResidenceService.GetAllAsync();
	}
}