@* Author: Jakob *@
@inject IResidenceService ResidenceService
@if (DisplayResidences != null)
{
	<div class="row row-cols-md-4 g-4">
		@foreach (var Resi in DisplayResidences)
		{
			<div class="col resicard">
				<div class="card h-100 shadow-lg cardresi">
					<img src="@Resi.PictureListURL[0]" class="card-img-top list-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">@Resi.Address</h5>
						<p class="card-text">@Resi.ResidenceRegion.Township, @Resi.ResidenceRegion.County</p>
						<p class="card-text">@Resi.StartingPrice kr</p>
						<p class="card-text">Antal rum: @Resi.RoomCount</p>
						<p class="card-text">@Resi.LivingArea m²</p>
						<p class="card-text">@Resi.ResidenceCategory.CategoryName</p>
						<a href="/residence/@Resi.ResidenceId" class="btn btn-success">Visa</a>
						
					</div>
				</div>
			</div>
		}
	</div>
}


@code {
	[Parameter]
	public IEnumerable<Residence> DisplayResidences { get; set; } 

}