@page "/realtor/createresidence"
<h3>CreateResidence</h3>
@inject NavigationManager NavManager
@inject HttpClient HttpClient
@inject IRegionService regionService
@inject IResidenceService residenceService
@inject ICategoryService categoryService
@inject IRealtorService realtorService

<EditForm Model="@newResidence" OnValidSubmit="@AddResidence">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-floating mb-3">
        <InputText @bind-Value="newResidence.Address" class="form-control" id="address" />
        <label for="address">Adress</label>
        <ValidationMessage For="@(() => newResidence.Address)" />
    </div>

    <div class="form-floating mb-3">
        <InputNumber @bind-Value="newResidence.StartingPrice" class="form-control" id="startingPrice" />
        <label for="startingPrice">Startpris</label>
        <ValidationMessage For="@(() => newResidence.StartingPrice)" />
    </div>

    <div class="form-floating mb-3">
        <InputNumber @bind-Value="newResidence.LivingArea" class="form-control" id="livingArea" />
        <label for="livingArea">Boarea</label>
        <ValidationMessage For="@(() => newResidence.LivingArea)" />
    </div>

    <div class="form-floating mb-3">
        <InputNumber @bind-Value="newResidence.BiArea" class="form-control" id="biArea" />
        <label for="biArea">Biarea</label>
        <ValidationMessage For="@(() => newResidence.BiArea)" />
    </div>

    <div class="form-floating mb-3">
        <InputNumber @bind-Value="newResidence.LandArea" class="form-control" id="landArea" />
        <label for="landArea">Tomtarea</label>
        <ValidationMessage For="@(() => newResidence.LandArea)" />
    </div>

    <div class="form-floating mb-3">
        <InputTextArea @bind-Value="newResidence.ResidenceDescription" class="form-control" id="residenceDescription" />
        <label for="residenceDescription">Beskrivning</label>
        <ValidationMessage For="@(() => newResidence.ResidenceDescription)" />
    </div>

    <div class="form-floating mb-3">
        <InputNumber @bind-Value="newResidence.RoomCount" class="form-control" id="roomCount" />
        <label for="roomCount">Rumsantal</label>
        <ValidationMessage For="@(() => newResidence.RoomCount)" />
    </div>

    <div class="form-floating mb-3">
        <InputNumber @bind-Value="newResidence.MonthlyFee" class="form-control" id="monthlyFee" />
        <label for="monthlyFee">Månadsavgift</label>
        <ValidationMessage For="@(() => newResidence.MonthlyFee)" />
    </div>

    <div class="form-floating mb-3">
        <InputNumber @bind-Value="newResidence.OperatingCost" class="form-control" id="operatingCost" />
        <label for="operatingCost">Driftkostnad</label>
        <ValidationMessage For="@(() => newResidence.OperatingCost)" />
    </div>

    <div class="form-floating mb-3">
        <InputNumber @bind-Value="newResidence.ConstructionYear" class="form-control" id="constructionYear" />
        <label for="constructionYear">Byggnadsår</label>
        <ValidationMessage For="@(() => newResidence.ConstructionYear)" />
    </div>

    <div class="form-floating mb-3">
        <InputNumber @bind-Value="newResidence.ResidenceCategory.CategoryId" class="form-control" id="categoryId" />
        <label for="categoryId">Kategorinummer</label>
        <ValidationMessage For="@(() => newResidence.ResidenceCategory.CategoryId)" />
    </div>

    <div class="form-floating mb-3">
        <InputNumber @bind-Value="newResidence.ResidenceRegion.RegionId" class="form-control" id="regionId" />
        <label for="regionId">Regionnummer</label>
        <ValidationMessage For="@(() => newResidence.ResidenceRegion.RegionId)" />
    </div>

    <div class="form-floating mb-3">
        <InputNumber @bind-Value="newResidence.ResidenceRealtor.RealtorFirmId" class="form-control" id="realtorId" />
        <label for="realtorId">Mäklarnummer</label>
        <ValidationMessage For="@(() => newResidence.ResidenceRealtor.RealtorFirmId)" />
    </div>
    

    <button type="submit" class="btn btn-primary">Lägg till bilder</button>
</EditForm>


@code {
    private List<string> PictureListURL = new List<string>();
   
    public Residence newResidence { get; set; }

    private async Task AddResidence()
    {
        var residence = await residenceService.CreateAsync(newResidence);

        NavManager.NavigateTo($"/residence/posturls/{residence.ResidenceId}");
    }


}



            @* <EditForm Model="Residence" OnValidSubmit="AddResidence">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @* <div class="form-floating mb-3">
        <input type="Address" class="form-control" id="floatingInput" placeholder="Adress">
        <label for="floatingInput">Address:</label>
    </div>
    <div class="form-floating">
        <input type="StartingPrice" class="form-control" id="floatingPassword" placeholder="Pris">
        <label for="floatingPassword">Pris:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="LivingArea" class="form-control" id="floatingInput" placeholder="Kvm">
        <label for="floatingInput">Kvm:</label>
    </div>
    <div class="form-floating">
        <input type="BiArea" class="form-control" id="floatingPassword" placeholder="Bi area">
        <label for="floatingPassword">Bi area:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="LandArea" class="form-control" id="floatingInput" placeholder="Tomt">
        <label for="floatingInput">Tomt:</label>
    </div>
    <div class="form-floating">
        <input type="ResidenceDescription" class="form-control" id="floatingPassword" placeholder="Beskrivning">
        <label for="floatingPassword">Beskrivning:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="RoomCount" class="form-control" id="floatingInput" placeholder="Antal rum">
        <label for="floatingInput">Antal rum:</label>
    </div>
    <div class="form-floating">
        <input type="MonthlyFee" class="form-control" id="floatingPassword" placeholder="Månadskostnad">
        <label for="floatingPassword">Månadskostnad:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="OperatingCost" class="form-control" id="floatingInput" placeholder="Driftkostnad">
        <label for="floatingInput">Driftkostnad:</label>
    </div>
    <div class="form-floating">
        <input type="ConstructionYear" class="form-control" id="floatingPassword" placeholder="Byggnadsår">
        <label for="floatingPassword">Byggnadsår:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="PictureListURL" class="form-control" id="floatingInput" placeholder="Bilder">
        <label for="floatingInput">Bilder:</label>
    </div>
    <div class="form-floating">
        <input type="CategoryId" class="form-control" id="floatingPassword" placeholder="CategoryId">
        <label for="floatingPassword">CategoryId:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="RegionId" class="form-control" id="floatingInput" placeholder="RegionId">
        <label for="floatingInput">RegionId:</label>
    </div>
    <div class="form-floating">
        <input type="RealtorId" class="form-control" id="floatingPassword" placeholder="RealtorId">
        <label for="floatingPassword">RealtorId:</label>
    </div> *@